<div class="sidebar" data-color="" data-image="{{ asset('assets/img/anonymous.jpg') }}">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{{ url('index') }}" class="simple-text">
                Asset Manager
            </a>
        </div>
        <ul class="nav">
            <li>
                <a href="{{ url('index') }}">
                    <i class="pe-7s-graph"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{{ url('asset_index') }}">
                    <i class="pe-7s-note2"></i>
                    <p>Assets</p>
                </a>
            </li>
            <li>
                <a href="{{ url('threat_index') }}">
                    <i class="pe-7s-close-circle"></i>
                    <p>Threats</p>
                </a>
            </li>
        </ul>
    </div>
</div>