{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Asset</h4>
                    <p class="category">Editing asset: {{ asset.id }}</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Description</h4>
                        </div>
                    </div>
                    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                    {{ form_start(edit_form) }}
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(edit_form.shortCode) }}
                        </div>
                        <div class="col-md-8">
                            {{ form_row(edit_form.name) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row((edit_form.make)) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(edit_form.model) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(edit_form.serial) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(edit_form.location) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(edit_form.category) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(edit_form.classification) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(edit_form.specification) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_row(edit_form.notes) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="title">Asset Importance</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_row(edit_form.impactRevenue) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(edit_form.impactProfitability) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(edit_form.impactImage) }}
                        </div>
                    </div>
                    <div class="footer">
                        <input type="submit" value="Save" class="btn btn-success" />
                        {{ form_end(edit_form) }}
                        <a href="{{ path('asset_index') }}" class="btn btn-primary">Back to the list</a>
                        <a href="{{ url('asset_delete', { 'id': asset.id }) }}" class="btn btn-danger">Delete</a>
                        <a href="{{ url('threat_new', { 'id': asset.id }) }}" class="btn btn-warning">Add Threat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
