{% extends 'base.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Threats List</h4>
                        <p class="category">List of all threats by risk score</p>
                    </div>
                    <div class="content table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Threat</th>
                                <th>Vulnerability</th>
                                <th>Asset<th>
                                <th>Risk</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for threat in threats %}
                                <tr>
                                    <td><a href="{{ path('threat_show', { 'id': threat.id }) }}">{{ threat.id }}</a></td>
                                    <td>{{ threat.threat }}</td>
                                    <td>{{ threat.vulnerability }}</td>
                                    <td><a href="{{ url('asset_show', {'id': threat.asset.id}) }}">{{ threat.asset.name }}</a></td>
                                    <td>{{ threat.risk }}</td>
                                    <td>
                                        <a href="{{ url('threat_show', { 'id': threat.id }) }}" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
